@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@400;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* :root {
  
} */

body {
  background-color: #000;
}

html::-webkit-scrollbar {
  background-color: #525272;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  width: 10px;
}

main {
  position: relative;
  background-color:#1B1B1B
}
